<app-navbar></app-navbar>
<div class="profile-page">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="userInfo.Name">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="userInfo.Username">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="userInfo.Email">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="userInfo.Password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Birthday</mat-label>
        <input matInput placeholder="Placeholder" type="date" [(ngModel)]="userInfo.Birthday">
    </mat-form-field>
    <div class="profile-btn-container">
    <button
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    (click)="saveChanges()"
  >
    Edit Profile
  </button>

  <button
    mat-raised-button
    color="warn"
    style="margin-right: 10px;"
    (click)="openDeleteDialog()"
  >
    Delete Profile
  </button>
</div>
<hr>
<h1>Favorite Movies</h1>
<div class="favorites-list" >
  <mat-card xFlex="20%" *ngFor="let movie of favList; let i=index;">
    <mat-card-title>{{movie.Title}}
    </mat-card-title>
    <mat-card-subtitle>Directed by: {{movie.Director.Name}}, {{movie.Year}}, {{movie.Genre.Name}}</mat-card-subtitle>
    <img mat-card-image class="card-img"  src={{movie.ImageUrl}}/>
  </mat-card>
</div>
</div>

